fastapi
uvicorn[standard]
langchain
langchain-community
langchain-huggingface
langchain-google-genai
faiss-cpu
pydantic
python-multipart
sentence-transformers

# Force CPU-only PyTorch on Linux
torch==2.5.1+cpu ; platform_system == "Linux"
