--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
langchain
langchain-community
langchain-huggingface
langchain-google-genai
faiss-cpu
pydantic
python-multipart

# force CPU PyTorch
torch==2.9.1+cpu

sentence-transformers
